html {
  background-color: #c9b5ab;
}

h1, h2 {
  font-family: PT Sans, sans-serif;
  line-height: 1.5;
  text-size: 1.5rem;
  color: #3f1622;
}

img {
  width: 100%;
}

.quote {
  font-family: PT Italic, sans-serif;
  line-height: 1.5;
  text-size: 1.5rem;
  color: #222;
}

#links {
  font-family: PT Sans, sans-serif;
  line-height: 1.5;
  text-size: 1.25rem;
  color: #8f2440;
}

.wikipedia {
  text-size: 0.8rem;
  color: #8f2440;
}
