html {
  background-color: #c9b5ab;
  border-color: #c9b5ab;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  color: #3f1622;
}

img {
  width: 100%;
  background-position: center;
}

.quote {
  font-family: "PT Serif";
  line-height: 1.5;
  font-style: italic;
  font-size: larger;
  color: #222;
}

#links {
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  text-decoration: blink;
  color: #8f2440;
}

.wikipedia {
  color: #8f2440;
}

.first {
  font-weight: bold;
}

.varieties {
  list-style-type: lower-greek;
}

p {
  font-weight: normal;
}

dt {
  font-weight: bold;
}

a:hover {
  color: #8f2440;
  text-decoration: inherit;
}

#serving {
  font-style: italic;
}
