html {
  background-color: #c9b5ab;
  border-color: #c9b5ab;
  border-width: 608px;
  height: 1635px;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  color: #3f1622;
}

img {
  width: 100%;
  float: inherit;
  background-position: center;
}

figcaption {
  text-align: center;
}

.quote {
  font-family: "PT Serif";
  line-height: 1.5rem;
  font-style: italic;
  font-size: larger;
  text-decoration: inherit;
  text-align: left;
  color: #222;
}

cite {
  font-family: "PT Serif";
  line-height: 0.8rem;
  font-style: italic;
}

#links {
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  font-size: larger;
  color: #8f2440;
}

.wikipedia {
  color: #8f2440;
}

.first {
  font-weight: bold;
}

.varieties {
  list-style-type: lower-greek;
}

p {
  font-weight: normal;
  font-family: "PT Serif";
}

.second {
  font-family: "PT Serif";
}

.third {
  font-family: "PT Serif";
}

.serving {
  font-style: italic;
}

ul li {
  font-family: "PT Serif";
  font-size: .8rem;
}

dt {
  font-weight: bold;
  font-size: 1rem;
}

ol li {
  font-family: "PT Serif";
}

a:hover {
  color: #8f2440;
  text-decoration: none;
}
